
*{
	
margin:0;
padding:0;	
	
}



div{
	
margin-top:50px;	
	
}



h1{

font-family:serif,"times new roman";
font-weight:normal;
	
}



p{
	
font-weight:bold;
margin-top:50px;
text-align:justify;
font-style:italic;
line-height:1.3em;
font-variant:small-caps;

}


