
*{
	
margin:0;
padding:0;	
	
}



body{
	
	margin-top:100px;
	margin-left:400px;
	
}



.flag{
	
	width:500px;
	height:250px;
	background:green;
	position:relative;
	
}



.flag::before{
	
	content:"";
	width:150px;
	height:150px;
	background:red;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	border-radius:50%;
	
}


