
*{
	
margin:0;
padding:0;	
	
}



div{

margin:100px;
text-align:center;

}



.border0{

	padding:20px;
	font-size:40px;
	border:10px solid aqua;
	
}



.border1{
	
	margin:150px;
	padding:20px;
	text-align:center;	
	border:10px solid red;

}



.border2{
	
	margin:150px;
	padding:20px;
	text-align:center;	
	border:10px dashed red;

}



.border3{
	
	margin:150px;
	padding:20px;
	text-align:center;	
	border:10px dotted red;

}



.border4{
	
	margin:150px;
	padding:20px;
	text-align:center;	
	border:20px double red;

}



.border5{
	
	margin:150px;
	padding:20px;
	text-align:center;
	background:violet;
	color:black;
	border-style:solid;
	border-width:100px;
	border-color:aqua red green blue;
	
}


