
@media screen and (max-width:1024px){
	
	.menu ul {
		margin-top: 25px;
		margin-right:40px;
	}
	
	
	.about{
		width:50%;
		padding:40px 20px;
	}
	
	.services {
	  float: left;
	  margin-left: 150px;
	  max-width: 24%;
	  padding-right: 272px;
	  text-align: center;
	  margin-bottom:60px;
	}

	.contact-single {
	  margin-bottom: 50px;
	  width: 50%;
	}

	.contact-single h3 {
		font-size: 20px;
	}

	.contact-form{
		width: 50%;
	}
	
	.contact-form {
	  width: 70%;
	  margin-bottom:0px;
	  padding-right:0px;
	}
	
	.message {
	  width: 70%;
	  float:left
	}
	
	
}


@media screen and (max-width:768px){
	
	.menu ul {
		margin-right:5px;
		margin-top:35px;
	}
	
	
	.about{
		width:50%;
		padding:20px 20px;
	}
	
	.services {
	  float: left;
	  margin-left: 65px;
	  max-width: 24%;
	  padding-right:272px;
	  text-align: center;
	  margin-bottom:40px;
	}

	.contact-single {
	  margin-bottom: 50px;
	  width: 50%;
	}

	.contact-single h3 {
		font-size: 16px;
	}

	.contact-form{
		width: 50%;
	}
	
	.contact-form {
	  width: 80%;
	  margin-bottom:0px;
	  padding-right:0px;
	}
	
	.message {
	  width: 80%;
	  float:left
	}
	
	
}



@media screen and (max-width:640px){
	
	.menu ul {
		margin-right:5px;
		margin-top:35px;
		font-size:5px;
		padding-bottom:20px;
	}
	
	
	.about{
		width:100%;
		padding:50px;
	}
	
	.services {
	  float: left;
	  margin-left: 170px;
	  max-width: 24%;
	  padding-right: 272px;
	  text-align: center;
	  margin-bottom:80px;
	  text-align:center;
	}

	.contact-single {
	  margin-bottom: 50px;
	  width: 100%;
	}

	.contact-single h3 {
		font-size: 17px;
	}


	.contact-form {
	  width: 100%;
	  margin-bottom:0px;
	  padding-right:0px;
	}
	
	.message {
	  width: 100%;
	  float:left
	}
	
	
}


